@keyframes rotation {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }

  100% {
    transform: rotate(360deg) translate(-50%, -50%)
  }
}

@font-face {
  font-family: 'Asap';
  src: url('https://fonts.googleapis.com/css?family=Asap:400,500,600,700&display=swap');
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  cursor: url('watermelon.png'), auto;
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Asap';
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
}

.main-content {
  flex: 1 0 auto;
}

header {
  background-color: #000;
  padding: 15px;
  height: 45px;
  margin-bottom: 5vh;
}

header .container {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 2;
}

header img {
  height: 25px;
  width: auto;
  z-index: 3;
}

header img.menu {
  margin-right: 20px;
}

.landing {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h2,
label {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5;
}

.column-1 {
  width: 40vw;
  margin-right: 2vw;
}

.CTA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.slots {
  margin: 20px auto;
  width: 75%;
}

.conditions {
  width: 40vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.condition-2 {
  display: none;
}

.conditions img {
  max-width: 70px;
  height: auto;
  margin-right: 15px;
}

.column-2 {
  width: 35vw;
  margin-left: 2vw;
  /* padding: 50px 100px 60px 40px;*/
}

.register-form-window {
  width: 100%;
  height: 180px;
  background-color: #375765;
  border-radius: 15px;
  margin-bottom: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}

form {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 90%;
}

input,
select {
  width: 75%;
  margin-left: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 30px;
  font-weight: 400;
  color: #000;
}

select {
  margin-bottom: 15px;
  margin-left: 15px;
}

button {
  background-color: #eb681b;
  border-radius: 0 0 15px 15px;
  border: none;
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  outline: none;
  padding: 10px;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.terms-and-conditions {
  width: 100%;
  height: 45vh;
  background-color: #0f2a35;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 3;
}

.text-scroll {
  width: 85%;
  height: 82%;
  position: absolute;
  top: 10%;
  /*35px*/
  left: 7%;
  /*35px*/
  overflow: scroll;
  overflow-x: hidden;
}

.text-scroll h2 {
  text-align: center;
  margin-bottom: 15px;
  margin-right: 20px;
}

.text-scroll p {
  margin-right: 20px;
}

::-webkit-scrollbar {
  margin-left: 20px;
  background: rgba(0, 179, 205, 0.25);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #00b3cd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

footer {
  height: 90px;
  width: 100%;
  background-color: #0c2f3d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  flex-shrink: 0;
}

.logos {
  max-width: 90vw;
}

.logos img {
  max-height: 35px;
  margin: 10px 15px;
}

.logos img:nth-child(4) {
  max-height: 25px;
  margin-bottom: 15px;
}

.logos img:nth-child(6) {
  max-height: 20px;
  margin-bottom: 20px;
}

.stamps {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.stamps img {
  position: absolute;
  animation: rotation 30s linear infinite;
}

@media (min-width: 2300px) {
  .column-2 {
    width: 15vw;
  }
}

@media (min-width: 1900px) {
  .column-2 {
    width: 20vw;
  }
}

/* MEDIA QUERIES PORTRAIT */
@media (min-width: 1500px) and (max-width: 1900px) and (orientation: portrait) {
  .column-2 {
    width: 30vw;
  }
}

@media (min-width: 740px) and (max-width: 1250px) and (orientation: portrait) {
  body {
    background-size: auto;
  }

  .landing {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .column-1 {
    width: 75vw;
    margin-bottom: 25px;
  }

  .column-2 {
    width: 80vw;
    display: flex;
    flex-direction: row;
  }

  .register-form-window {
    margin-right: 2vw;
    height: 25vh;
  }

  form {
    width: 80%;
  }

  .terms-and-conditions {
    margin-left: 2vw;
    height: 25vh;
  }

  .condition-1 {
    display: none;
  }

  .condition-2 {
    width: 75vw;
    /*height: 15vh;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px auto;
    font-size: 15px;
  }

  .logos {
    max-width: 77%;
  }

  .logos img {
    max-height: 30px;
    margin: 5px 10px;
  }

  .logos img:nth-child(4) {
    max-height: 10px;
    margin-bottom: 15px;
  }

  .logos img:nth-child(6) {
    max-width: 90px;
    margin-bottom: 15px;
  }
}

@media (min-width: 1000px) {
  form {
    width: 85%;
  }

  .register-form-window {
    height: 180px;
  }
}

@media (min-width: 200px) and (max-width: 740px) and (orientation: portrait) {
  body {
    background-size: auto;
  }

  .landing {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .column-1 {
    width: 85vw;
  }

  .slots {
    width: 85%;
    margin-bottom: 25px;
  }

  .column-2 {
    width: 80vw;
  }

  .condition-1 {
    display: none;
  }

  .condition-2 {
    width: 90vw;
    /*height: 15vh;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto;
    font-size: 11px;
    padding: 4vh 0 4vh 0;
  }

  .condition-2 img {
    width: 40px;
  }

  select,
  input {
    width: 60%;
    font-size: 12px;
    margin-left: 10;
  }

  select {
    margin-bottom: 15px;
    margin-left: 15px;
  }

  .register-form-window {
    height: 160px;
  }

  .terms-and-conditions {
    width: 100%;
    height: 50vh;
  }

  .logos {
    max-width: 77%;
  }

  .logos img {
    max-height: 20px;
    margin: 5px 10px;
  }

  .logos img:nth-child(4) {
    max-height: 10px;
    margin-bottom: 10px;
  }

  .logos img:nth-child(6) {
    max-width: 90px;
    margin-bottom: 10px;
  }

  .text-scroll {
    top: 25px;
    left: 25px;
  }

  form {
    /*top: 25px;
    left: 25px;*/
    top: 15%;
    left: 10%;
  }

  footer {
    margin-top: 2vh;
  }
}

@media (min-width: 376px) and (max-width: 450px) and (orientation: portrait) {
  .logos {
    margin: 0 20vw;
  }
}

/* MEDIA QUERIES LANDSCAPE */
@media (min-width: 1500px) and (max-width: 1900px) and (orientation: landscape) {
  .column-2 {
    width: 30vw;
  }
}

@media (min-width: 700px) and (max-width: 1250px) and (orientation: landscape) {
  body {
    background-size: auto;
  }

  .landing {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .column-1 {
    width: 60vw;
    margin-bottom: 25px;
  }

  .column-2 {
    width: 80vw;
    display: flex;
    flex-direction: row;
  }

  .register-form-window {
    margin-right: 2vw;
    height: 250px;
  }

  form {
    top: 15%;
    left: 15%;
    width: 80%;
  }

  select, input {
    width: 80%;
  }

  .terms-and-conditions {
    margin-left: 2vw;
    height: 250px;
  }

  .condition-1 {
    display: none;
  }

  .condition-2 {
    width: 75vw;
    /*height: 15vh;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px auto;
    font-size: 15px;
  }

  .logos {
    max-width: 80%;
  }

  .logos img {
    max-height: 30px;
    margin: 5px 10px;
  }

  .logos img:nth-child(4) {
    max-height: 10px;
    margin-bottom: 15px;
  }

  .logos img:nth-child(6) {
    max-width: 90px;
    margin-bottom: 15px;
  }
}

@media (min-width: 200px) and (max-width: 700px) and (orientation: landscape) {
  body {
    background-size: auto;
  }

  .landing {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .column-1 {
    width: 60vw;
  }

  .slots {
    width: 85%;
    margin-bottom: 25px;
  }

  .column-2 {
    width: 80vw;
  }

  .condition-1 {
    display: none;
  }

  .condition-2 {
    width: 90vw;
    /*height: 15vh;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto;
    font-size: 11px;
    padding: 8vh 0 8vh 0;
  }

  .condition-2 img {
    width: 40px;
  }

  select,
  input {
    width: 60%;
    font-size: 12px;
    margin-left: 10;
  }

  select {
    margin-bottom: 15px;
    margin-left: 15px;
  }

  .register-form-window {
    height: 160px;
  }

  .terms-and-conditions {
    width: 100%;
    height: 50vh;
  }

  .logos {
    max-width: 85%;
  }

  .logos img {
    max-height: 20px;
    margin: 5px 10px;
  }

  .logos img:nth-child(4) {
    max-height: 10px;
    margin-bottom: 10px;
  }

  .logos img:nth-child(6) {
    max-width: 90px;
    margin-bottom: 10px;
  }

  .text-scroll {
    top: 10%;
    left: 10%;
    width: 80%;
  }

  form {
    top: 15%;
    left: 25%;
    width: 60%;
  }

  footer {
    margin-top: 2vh;
  }
}
